Pratica_01/teste.exe
Pratica_01/P01.exe
Fila/FilaEstatica.exe
Pratica_01/teste.c
Pratica_01/P01.exe
Pratica_01/P01.exe
Pratica_02/P02.exe
ListaOrdenada/ListaOrdenada.exe
Pratica_03/P03.exe
4.ArvoresBinaria/ArvoresBinarias.exe
